########################################
#            APP SETTINGS              #
#--------------------------------------#
PORT = 3000
IS_DEVELOPMENT = false
EPOCH_TIMESTAMP = 1709494887099
########################################
#           REDIS SETTINGS             #
#--------------------------------------#
REDIS_URI = redis://:username@password@host:6379
########################################
#           POSTGRES SETTINGS          #
#--------------------------------------#
POSTGRES_DBNAME = storage
POSTGRES_USERNAME = postgres # Default postgres
POSTGRES_HOST = localhost # Default localhost
POSTGRES_PASSWORD = admin # Your password  
POSTGRES_PORT = 5432 # Default 5432
########################################
#           SOCKET SETTINGS            #
#--------------------------------------#
SOCKET_PATH=/handshake/websocket/v1
########################################
#            API SETTINGS              #
#--------------------------------------#
