########################################
#            APP SETTINGS              #
#--------------------------------------#
PORT = 3000
MODE = dev # "dev" or "prod"
EPOCH_TIMESTAMP = 1709494887099
SITE_DOMAIN = https://peer2p.online
########################################
#           REDIS SETTINGS             #
#--------------------------------------#
REDIS_USERNAME = root
REDIS_PASSWORD = 
REDIS_HOSTNAME = localhost
REDIS_PORT = 6379 # default 6379
#           POSTGRES SETTINGS          #
#--------------------------------------#
POSTGRES_DBNAME = storage
POSTGRES_USERNAME = postgres # Default postgres
POSTGRES_HOST = localhost # Default localhost
POSTGRES_PASSWORD = admin # Your password  
POSTGRES_PORT = 5432 # Default 5432
########################################
#           SOCKET SETTINGS            #
#--------------------------------------#
SOCKET_PATH=/handshake/websocket/v1
########################################
#            API SETTINGS              #
#--------------------------------------#
CURRENT_VERSION = 1