
$background: #0f121b;
$boxbg: #21293b;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body, #root{
    height:100%;
}

#root{
  background: $background;
  color: white;
  padding:25px 25px;
  font-family: "Poppins", sans-serif;
}